<h1>Admin#update</h1>
<p>Find me in app/views/admin/update.html.erb</p>


{
    "id"=>1, 
    "name"=>"Leanne Graham", 
    "username"=>"Bret", 
    "email"=>"Sincere@april.biz", 
    "phone"=>"1-770-736-8031 x56442", 
    "website"=>"hildegard.org",
}
